body {
  font-family: 'Helvetica', 'Futura' !important
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  letter-spacing: 0.03em;
}

.title {
  font-family: Futura;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;

}

.desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}