body {
  font-family: 'Poppins', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  font-size: 35px;
  font-weight: 900;
}

* {
  letter-spacing: 0.03em;
}